{%  extends 'accounts/main.html' %}
{% block content %}
<style>
    .profile_pic{
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>

<div class="row mt-5">
    <div class="col-md-3">
        <div class="card card-body">
            <a class="btn btn-warning" href="#">Back To Home</a>
            <hr>
            <h3 class="text-center">
                Account Setting
            </h3>
            <hr>
            <img class ="profile_pic" src="{{request.user.customer.profile_pic.url}}" alt="ProfilePic">
        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-body">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}

                <input class="btn btn-primary" type="submit" name="Update Information">
            </form>
        </div>
    </div>
</div>

{% endblock %}